body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
  color: #222;
}

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  color: white;
  background: #000;
  padding: 10px;
}

.skip-link:focus{
  top: 0;
}


.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
  margin-top: 20px;
}

/*styling the button*/

.button{
  background-color: #222;
  color: white;
  border-radius: 6px;

}

.button:hover {
  background-color: #444;
 }

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 1rem;
}

form input,
form textarea {
  display: block;
  width: 50%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
/*styling the footer for a good design*/

.site-footer {
  padding: 1rem 0;
  margin-top: 20px;
  text-align: center;
  background-color: #333;
  color: #fff;
}
